

.topMargin {
	margin-top: 25px; }

.topMarginBig {
	margin-top: 100px; }

.bottomMargin {
	margin-bottom: 25px;
}

.navbar-blue {
	background: #006496;
}

.alignRight {
	text-align: right;
}

.alignLeft {
	text-align: left;
}