<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>A100 Database Application</title>

	<link href="views/assets/css/bootstrap.css" rel="stylesheet">
	<link href="views/assets/css/bootstrap-flat.css" rel="stylesheet">
	<link href="views/assets/css/bootstrap-flat-extras.css" rel="stylesheet">
	<link href="views/assets/css/main.css" rel="stylesheet">
</head>

<body>
	<div class="container">

		<div class="row topMarginBig">
			<div class="col-xs-12">
				<img src="views/assets/img/imgIndieLogo.png">
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 topMargin"></div>
		</div>
		
		<div class="row">
			
			<div class="col-xs-6">
				<form class="form-inline" role="form" method="POST">
  					<div class="form-group">
						<select class="form-control input-sm" name="inputCompany">
							{% for partner in partnerMenu %}
							<option value="{{partner.name}}" {% if partner.name == currentPartner.name %} selected {% endif %}>{{partner.name}}</option>
							{% endfor %}
						</select>
					</div>
  					<button type="submit" class="btn btn-sm btn-default">View Company</button>
				</form>
			</div>

			<div class="col-xs-3 col-xs-offset-3">
				<a href="/add"><button type="button" class="btn btn-sm btn-info">Add Apprentice</button></a>
			</div>

		</div>

		<div class="row">
			
			<div class="col-xs-12 topMargin">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th colspan="3"></th>
							{% for skill,value in skillsArray %}
							<th>{{skill}}</th>
							{% endfor %}
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for apprentice in apprenticeArray %}
						<tr class="centered">
							<td>{{apprentice.name}}</td>
							<td>{{apprentice.cohort}}</td>
							<td>{{apprentice.address}}</td>
							{% for skill,value in skillsArray %}
								{% if skill == 'Unix/Linux' %} 	<td> {{apprentice.unix_linux}} </td>	{% endif %}
								{% if skill == 'SQL' %} 		<td> {{apprentice.sql}} </td>			{% endif %}
								{% if skill == 'Git' %} 		<td> {{apprentice.git}} </td>			{% endif %}
								{% if skill == 'WordPress' %} 	<td> {{apprentice.wordpress}} </td>		{% endif %}
								{% if skill == 'Drupal' %} 		<td> {{apprentice.drupal}} </td>		{% endif %}
								{% if skill == 'Python' %} 		<td> {{apprentice.python}} </td>		{% endif %}
								{% if skill == 'SVN' %} 		<td> {{apprentice.svn}} </td>			{% endif %}
								{% if skill == 'Objective-C' %} <td> {{apprentice.objective_c}} </td>	{% endif %}
								{% if skill == 'Ruby/Rails' %} 	<td> {{apprentice.ruby_rails}} </td>	{% endif %}
								{% if skill == 'C++' %} 		<td> {{apprentice.c_plusplus}} </td>	{% endif %}
								{% if skill == '.Net' %} 		<td> {{apprentice.dot_net}} </td>		{% endif %}
								{% if skill == 'PHP' %} 		<td> {{apprentice.php}} </td>			{% endif %}
								{% if skill == 'HTML/CSS' %}	<td> {{apprentice.html_css}}</td>		{% endif %}
								{% if skill == 'Java' %} 		<td> {{apprentice.java}}</td>			{% endif %}
								{% if skill == 'Javascript' %} 	<td> {{apprentice.javascript}}</td>		{% endif %}
							{% endfor %}
							<td>
							{% if currentPartner.name == apprentice.interest1 %}
							<span class="label label-success">Interested</span></td>
							{% endif %}
							{% if currentPartner.name == apprentice.interest2 %}
							<span class="label label-success">Interested</span></td>
							{% endif %}
							{% if currentPartner.name == apprentice.interest3 %}
							<span class="label label-success">Interested</span>
							{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
		</div>

		<div class="row topMarginBig">
			<div class="col-xs-5 col-xs-offset-1 bottomMargin">
				<textarea class="form-control" rows="3"></textarea>
			</div>
		</div>
	
	</div>
</body>
</html>